# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Build output
playground/dist

# TypeScript cache
*.tsbuildinfo

# Optional npm/yarn/pnpm cache
.npm
.pnpm
.yarn

# dotenv environment variable files
.env
.env.* 
!.env.example

# VSCode
.vscode/
